<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
    <title>Login</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/voca.js' %}"></script>
<script type="text/javascript">
const csrftoken = getCookie('csrftoken');
</script>

<body background="{% static 'images/background.gif' %}">

{% block content %}
<form method="post">
    <hr><hr>
    <form method="POST">{% csrf_token %}
        <table width = '100%' style="border: 0px;">
            <tr><th><label for="username">USERNAME:</label></th><td class = 'td_input_new_word'><input autofocus type="text" name="username" class="my_class_input_word" id="username"></td></tr>
            <tr><th><label for="password">PASSWORD:</label></th><td class = 'td_input_new_word'><input autofocus type="password" name="password" class="my_class_input_word" id="password"></td></tr>
        </table>
    <hr><hr>
        <button type="submit" class="button_save">Log In</button>
</form>
{% endblock content %}


</body>

</html>













