


input,
textarea,
[contenteditable] {
  caret-color:rgb(255,0,255);
}


body{
    /*font-family: Verdana;*/
    background-color: #000a04;
     }

table{
    border: 0px;
    padding: 0px;
    border-color:DarkGreen;
    color:green;
}

.td_input_new_word{
    border-color:transparent ;
    }

.my_class_table_of_words{
     width:100%}

.image_little_button {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.image_little_button:hover {
-webkit-filter: brightness(2);
}


.card-img-top{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}.card-img-top:hover{
    -webkit-filter: brightness(2);
}

.div_float_left {        float: left; /*Задаем обтекание*/    ;
                    margin-top: 10px;
                    margin-right: 10px;
                    text-align: center; /*Центрируем текст по горизонтали*/
                       }

.div_float_right {  float: left; /*Задаем обтекание*/    ;
                    margin-top: 10px;
                    margin-right: 10px;
                 }



.my_div {
    position: relative;
    width: 100%;
    margin: 2 auto;
    border-color:Green;
    padding: 0;
    text-align: left;
    display: inline-block;
}
.my_div_left, .my_div_right{
	margin: 2px;
	padding: 2px 2px;
	width: calc(45% - 10px);
	color:green;
	display: inline-block;
}
.my_div_left { text-align:left; }
.my_div_right { text-align:right;
                color:green;}




td{
    border: 2px solid;
    padding: 10px;
    border-color:Green;
    font-weight: bold;
    font-size:200%;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}


.img_with_backlight_on_hover:hover {
    -webkit-filter: brightness(200%);
    transition: -webkit-filter 1s;
}


/* link with underline*/
link{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: Green;
}
link:hover {
    background-size: 100% 2px;
    color: Lime;
}
link:visited {
  color: Green;
}
link:visited:hover {
background-size: 100% 2px;
  color: Lime;
}



h1{
    color:Grey;
    font-weight: bold;
    font-size:200%;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    }
h1:hover {
    color: Lime;
}
h3{
    color:Green;
    font-weight: bold;
    font-size:200%;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    }
h3:hover {
    color: Lime;
}

label{color: GREEN;
    font-weight: bold;
    font-size:200%;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    }

label{
font-size:200%;}

label:hover {
    color: Lime;
    font-size:200%;
}

.my_class_input_word{
    background: linear-gradient(to top right, #000000, #000066);
    width:100%;
    color:LightBlue;
    font-size:200%;
    border-radius: 12px;
    border: solid Blue;
    }
.my_class_input_word:hover {
    border: solid Lime;
    }

.my_class_input_transcription{
    background: linear-gradient(to top right, #000000, #000066);
    width:100%;
    color:DarkRed;
    font-size:200%;
    border-radius: 12px;
    border: solid Blue;
    }
.my_class_input_transcription:hover {
    border: solid Lime;
    }

.my_class_input_translations{
    background: linear-gradient(to top right, #000000, #000066);
    width:100%;
    color:gray;
    font-size:150%;
    border-radius: 12px;
    border: solid Blue;
    }
.my_class_input_translations:hover {
    border: solid Lime;
    }

.my_class_input_examples{
    background: linear-gradient(to top right, #000000, #000066);
    width:98%;
    color:green;
    font-size:150%;
    font-weight: bolder;
    border-radius: 12px;
    border: solid Blue;
    }
.my_class_input_examples:hover {
    border: solid Lime;
    }


.button {
    background-color: Green;
    border: none;
    color: white;
    height:32px;
    text-align: center;
    margin: 1px 25px 1px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    color:Black;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-weight: bold;
    border-radius: 12px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


.button_add {
    background-color: rgb(3, 70, 3);
    border: none;
    color: white;
    height:90px;
    width:90%;
    text-align: center;
    margin: 1px 25px 1px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    color:Black;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-weight: bold;
    border-radius: 12px;
}



.button_trained {
    background-color: Green;
    border: none;
    color: white;
    height:90px;
    width:90%;
    text-align: center;
    margin: 1px 25px 1px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    color:Black;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-weight: bold;
    border-radius: 12px;
}


.button_save {
    background-color: Green;
    border: none;
    color: white;
    text-align: center;
    margin: 1px 25px 1px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    color:Black;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-weight: bold;
    border-radius: 12px;
}

.button_save:hover {
    background-color: Green;
    color: Lime;
    -webkit-transition: all 1s ease;
}

.button_trained:hover {
    background-color: Green;
    color: Lime;
    -webkit-transition: all 1s ease;
}

.button_add:hover {
    background-color: Green;
    color: Lime;
    -webkit-transition: all 1s ease;
}





my_div_save{
	margin: 10px;
	padding: 20px 10px;
	width: 100%;
	color:red;
	display: inline-block;
}

.pagination{
    font-size:350%;
    text-shadow: 1px 1px 2px black, 0 0 1em black;}



.my_class_p_word{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:cornflowerblue;
    font-size:350%;
    }
.my_class_p_word:hover {
    color:lightblue;
    }
.my_class_p_transcription{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:firebrick;
    font-size:350%;
    }
.my_class_p_transcription:hover {
    color:crimson;
    }

.my_class_p_my_class_p_translations{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:Gray;
    font-size:350%;
    }
.my_class_p_my_class_p_translations:hover {
    color:Silver;
    }
.my_class_p_my_class_p_translations_russian{
    color:darkgrey;
    }
.my_class_p_my_class_p_hint_translations_russian{
        color:green;
        }
.my_class_p_my_class_p_translations_russian:hover {
    color:Silver;
    }




.my_class_p_my_class_p_examples{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:deepskyblue;
    font-size:350%;
    }
.my_class_p_my_class_p_examples:hover {
    color:cyan;
    }
.my_class_p_my_class_p_examples_russian{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:steelblue;
    font-size:350%;
    opacity:0;
    }
.my_class_p_my_class_p_examples_russian:hover {
    color:catedblue;
    opacity:1;
    }


.my_class_p_my_class_p_books{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:deepskyblue;
    }
.my_class_p_my_class_p_books:hover {
    color:seagreen;
    }
.my_class_p_my_class_p_books_even{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:steelblue;
    }
.my_class_p_my_class_p_books_even:hover {
    color:cadetblue;
    }

    .my_class_message_history{
        text-shadow: 1px 1px 2px black, 0 0 1em black;
        color:steelblue;
        }
    .my_class_message_history:hover {
        color:cadetblue;
    }

    .my_class_date_history{
        text-shadow: 1px 1px 2px black, 0 0 1em black;
        color:deepskyblue;
     }
     .my_class_date_history:hover{
        text-shadow: 1px 1px 2px black, 0 0 1em black;
        color:rgb(160, 212, 229);
     }


    .my_class_a_history{
        text-shadow: 1px 1px 2px black, 0 0 1em black;
        color:#2e50e6;
        }
    .my_class_a_history:hover {
        color:#98a5df;
        }

.my_class_book_name_history{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:#652ee6;
    }
.my_class_book_name_history:hover {
    color:#8a60ec;
    }
    


.book_navigation_button{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:#005a23;
}
.book_navigation_button:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color:#afa403;
}


    .center_parent {
        width: 95%;
        height: 70%;
        position: fixed;
        top: 120px;
        left: 20px;
    }
    
    .center_block {
        width: 95%;
        height: 80%;
        position: fixed;
        top: 120px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        background: #0c1408;
        
    }


    
    #hintbox{
        display:block;
        position: fixed;
        pointer-events: none;
        top:10px;
        z-index: 1;
        width:98%;
        padding:0.7em 1em;
        font-size:80%;
        background:black;
        border:1px solid #99c;
     }


     .color_block_modal_form{
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(to top right, rgba(1, 1, 116, 0.308), rgba(0, 78, 32, 0.5)), url('/static/images/background.gif');
    }


    .color_block_blue_green{
        border-radius: 10px;
        padding: 20px;
        background-image: linear-gradient(to top right, rgba(0, 4, 255, 0.308), rgba(0, 48, 19, 0.5));
    }

    .color_block_gray{
        border-radius: 10px;
        padding: 20px;
        background-image: linear-gradient(to top right, rgba(220, 220, 221, 0.055), rgba(220, 220, 221, 0.171));
    }

    .color_block_book_paragraph{
        border-radius: 10px;
        padding: 20px;
        background-image: linear-gradient(to top right, rgba(3, 3, 36, 0.055), rgba(1, 44, 1, 0.171));
    }


    .font_blue_larger{
        color: rgb(60, 83, 212);
        font-size: x-large;
        font-weight: bolder ;
    }


    .font_green_larger{
        color: rgb(30, 88, 44);
        font-size: x-large;
        font-weight: bolder ;
    }

    .font_red_larger{
        color: rgb(160, 39, 39);
        font-size: x-large;
        font-weight: bolder ;
    }    



    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет */
        z-index: 9999; /* Выше всех других элементов */
        display: none; /* По умолчанию скрыто */
    }
    #overlay p {
        color: white;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .outline-text {
        color: rgba(255, 255, 255, 0.5); /* Полупрозрачный цвет текста */
        font-size: 120%;
        -webkit-text-stroke-width: 1px; /* Ширина контура текста */
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.5); /* Цвет контура текста */
      }


      .dynamic-form {
        max-width: 95%;
        position: fixed;
        z-index: 2;
        background-color: white;
        border: 1px solid #2426c2;
        border-radius: 15px;
        top:max(30px, 12%);
        left:2.5%;
        overflow-y: auto;
      }
    


      .tile_edit_bar {
        position: absolute; /* Установка абсолютного позиционирования */
        top: 0px; /* Отступ сверху */
        right: 0px; /* Отступ справа */
      }

      .tile_edit_small_button{
        max-width: 20px;
        max-width: 20px;
      }

      .tile_edit_small_button:hover {
        -webkit-filter: brightness(200%);
        transition: -webkit-filter 2s;
        }
        

        .messageLogTextOrange{
            color:orange;
        } .messageLogTextOrange:hover{
            -webkit-filter: brightness(2);
        }

          
          #messageLogHeader {
            background-color: #201f1f;
            padding: 5px;
          }
          
          #toggleButton {
            float: right;
            background-color: #000000;
            font-style: oblique;
          }
          
          #messageLogContent {
            padding: 10px;
          }
          

          /* Blink animation */
          @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
          }


          @keyframes rowborderAnimation {
            0% {
              border-color: red;
            }
            50% {
              border-color: yellow;
            }
            100% {
              border-color: lime;
            }
          }
          .selected_row
           {
            border: 10px solid yellow;
            animation: rowborderAnimation 1s infinite;
          }

  /* Стили для блока сообщений */
  #messageLog {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #00200f;
    opacity: 1;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    color:green;
    /* z-index: -1; */
    background-image: url('/static/images/background.gif');
}

.golden-border {
    border-image: linear-gradient(to right, #ffd700, #ffaf00, #ffd700) 1;
    position: relative;
    padding: 10px; 
}
.golden-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}