    <div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="btn btn-info btn-block mb-2 button_save"
                      onclick="CloseToplevelDynamicForm();"
                      id="edit_tiles_select_button_id"
                      disabled>
                Select
              </button>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="btn btn-success btn-block mb-2 button_save"
                      onclick="EditSelectedTile();"
                      id="edit_tiles_edit_button_id"
                      disabled>
                Edit
              </button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="btn btn-primary btn-block mb-2 button_save"
                      id = "edit_tiles_add_button_id"
                      onclick="RunInScreenForm({form_name:`select_tile`, execute_after_load:``, request_link:`/edit_tile/0`, execute_on_ok:'', execute_on_close:`FillTilesField();`});">
                Add
              </button>
            </div>
          </div>
        </div>

        
        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="btn btn-danger btn-block mb-2 button_save"
                      onclick="DeleteTile();FillTilesField();"
                      id = "edit_tiles_remove_button_id"
                      disabled>
                 Remove
                </button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="btn btn-secondary btn-block mb-2 button_save"
                      id = "edit_tiles_cancel_button_id"
                      onclick="  const tiles = document.querySelectorAll('.img-thumbnail');
                                  for (tile of tiles) {
                                    tile.classList.remove('selected_tile');
                                    tile.dataset.selected = 'no';
                                  }
                                CloseToplevelDynamicForm();">
                Cancel
              </button>
            </div>
          </div>
        </div>


        <div class="col-2"></div>
    </div>
  </div>