    <div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>


        <div class="col-4">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="SelectIcon(document.querySelector(`#inputIcon`));" id="ok_id_for_select_icon">Select</button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="handleFileUpload(`image/jpeg, image/png, image/bmp, image/x-icon, image/webp`, `/icons_upload/`, FillIconsField);">Add</button>
            </div>
          </div>
        </div>

        
        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="DeleteIconImage();FillIconsField();">Remove</button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="CloseToplevelDynamicForm();">Cancel</button>
            </div>
          </div>
        </div>


        <div class="col-2"></div>
    </div>
  </div>