    <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>

      
      <div class="col-3">
        <div class="container-fluid">
          <div class="row">
            <button class="button_save" onclick="SelectImage();">Выбрать</button>
          </div>
        </div>
      </div>


      <div class="col-4">
        <div class="container-fluid">
          <div class="row">
            <button class="button_save" onclick="handleFileUpload(`image/jpeg, image/png, image/bmp, image/x-icon, image/webp`, `/tiles_upload/`);">Добавить</button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="container-fluid">
          <div class="row">
            <button class="button_save" onclick="DeleteTileImage();">Удалить</button>
          </div>
        </div>
      </div>

      <div class="col-2"></div>
    </div>
  </div>