    <div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>


        <div class="col-4">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="SelectTile();" id="ok_id_for_select_icon">Select</button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save"
                      onclick="RunInScreenForm({form_name:`select_tile`, execute_after_load:``, request_link:`/edit_tile/`, execute_on_ok:'', execute_on_close:`FillTilesField();`});">
                Add
              </button>
            </div>
          </div>
        </div>

        
        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="DeleteTile();FillTilesField();">Remove</button>
            </div>
          </div>
        </div>


        <div class="col-2">
          <div class="container-fluid">
            <div class="row">
              <button class="button_save" onclick="CloseToplevelDynamicForm();">Cancel</button>
            </div>
          </div>
        </div>


        <div class="col-2"></div>
    </div>
  </div>