{% load static %}
{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 
<div class="container mt-5">
    <h1>Введите данные</h1>
    <form>
      <div class="form-group">
        <label for="inputName">Название</label>
        <input type="text" class="form-control" id="inputName" placeholder="Введите название">
      </div>
      <div class="form-group">
        <label for="inputLink">Ссылка</label>
        <input type="text" class="form-control" id="inputLink" placeholder="Введите ссылку">
      </div>
      <div class="form-group">
        <label for="inputIcon">Иконка</label>
        <input type="text" class="form-control" id="inputIcon" placeholder="Введите имя иконки (например, 'fa-home')">
      </div>
      <div class="form-group">
        <label for="inputColor">Выбор цвета</label>
        <input type="color" class="form-control" id="inputColor">
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>


<script defer lang="javascript">
    let navbar = document.querySelector(`#navigation_subbar_optional`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a id= 'id_link_on_wooordhunt' href="https://wooordhunt.ru/word/{{ word }}" target="_blank"><IMG  class="img_with_backlight_on_hover"  WIDTH="48" HEIGHT="48"  title = "wooordhunt.ru" src="{% static 'images/wh.ico' %}"></a></div>`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a id= 'id_link_on_glosbe' href="https://ru.glosbe.com/en/ru/{{ word }}" target="_blank"><IMG  class="img_with_backlight_on_hover"  WIDTH="48" HEIGHT="48"  title = "ru.glosbe.com" src="https://ru.glosbe.com/assets/favicon/favicon-32x32.png"></a></div>`);
</script>


</body>

</html>













