<style>
  .form-group {
    margin-bottom: 20px;
  }

  .form-group input {
    font-weight: bold;
  }
</style>


<div class="container mt-5" id = "edit_tile_form_main_div" data-tileid="{{ tile_id }}">
    <h1 style="color:rgb(92, 172, 13);">Edit tile</h1>
    <form>
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Input tile name" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="inputLink">Link</label>
        <input type="text" class="form-control" id="inputLink" placeholder="Input link, for example: http:// ..." autocomplete="off">
      </div>
      <div class="form-group">
        <label for="inputIcon">Icon</label>
        <input type="text" class="form-control" id="inputIcon" placeholder="Select Icon name" onclick="RunInScreenForm({  form_name:`select_icon`,
                                                                                                                          execute_after_load:`OnLoadIconSelect('`+this.value+`');ResizeModalForms();`,
                                                                                                                          request_link:`/select_icon/`,
                                                                                                                          execute_on_ok:``,
                                                                                                                        });"
                autocomplete="off">
      </div>
      <div class="form-group">
        <label for="inputColor">Color</label>
        <input type="color" id="inputColor" style="height: 64px; width: 64px;">
      </div>
    </form>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-5">
        <div class="container-fluid">
          <div class="row">
            <button class="btn btn-primary btn-block mb-2 button_save" onclick="SaveTile();CloseToplevelDynamicForm();FillTilesField();" id="id_save_tile_edit">Save tile</button>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="container-fluid">
          <div class="row">
            <button class="btn btn-secondary btn-block mb-2 button_save" onclick="CloseToplevelDynamicForm();" id="id_cancel_tile_edit">Cancel</button>
          </div>
        </div>
      </div>


    </div>
  </div>


<script defer lang="javascript">
</script>


