{% load static %}

{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

<style>
   

</style>


<html>
 

  <div class="container mt-5 border-5 border-danger" id="page_home_page_data_container" data-page_id="{{ page_id }}">
   
      <div class="row">


        <div class="col-12">
            <div class="container-fluid mt-5" id="rows_container">
            </div>
        </div>


      </div>


  </div>

      <br><br><br>

</body>
</html>


