{% load static %}

<style>
   

</style>

<html>

  

  <div class="container mt-5 border-5 border-danger" id="page_edit_data_container" data-page_id="{{ page_id }}">
    <div class="form-group">
      <label for="inputRowName" id="lable_for_row_name">Name</label>
      <input type="text" class="form-control fs-3 fw-bold font-monospace" id="inputPageName" placeholder="Input page name" autocomplete="off">
    </div>
      <div class="row">


        <div class="col-10">
            <div class="container-fluid mt-5" id="rows_container">
            </div>
        </div>



        <div class="col-2 mt-5">
                            <div class="container">
                              <div class="row">
                                <button type="button"
                                        class="btn btn-primary btn-block mb-2 button_save"
                                        id="hp_page_edit_add_button">
                                  Add
                                </button>
                              </div>
                              <div class="row">
                                  <button type="button"
                                          class="btn btn-success btn-block mb-2 button_save"
                                          id="hp_page_edit_EditButton">
                                Edit</button>
                              </div>

                              <div class="row">
                                <button type="button"
                                        class="btn btn-info btn-block mb-2 button_save"
                                        id="hp_page_edit_MoveUpButton">
                              Move Up</button>
                            </div>

                            <div class="row">
                              <button type="button"
                                      class="btn btn-info btn-block mb-2 button_save"
                                      id="hp_page_edit_MoveDownButton">
                            Move Down</button>
                          </div>

                          <div class="row">
                            <button type="button"
                                    class="btn btn-danger btn-block mb-2 button_save"
                                    id="hp_page_edit_DeleteRowButton">
                                Remove
                            </button>
                          </div>
                        </div>

        </div>
      </div>


    </div>
  </div>
      <br><br><br>
 
      <div class="container-fluid">
          <div class="row">
                <div class="col-6">
                    <button 
                      class="btn col-11 btn-primary mb-2 button_save"
                      onclick="SavePage({{ page_id }},  document.querySelector('#inputPageName').value); CloseToplevelDynamicForm();"
                      id="id_save_page">
                      Save
                    </button>
                </div>
                <div class="col-6">
                    <button 
                      class="btn col-11 btn-secondary mb-2 button_save"
                      onclick="CloseToplevelDynamicForm();"
                      id="id_cancel_page">
                      Cancel
                    </button>
                </div>
          </div>
      </div>




  


</body>
</html>
