{% load static %}

<html>

  

  <div class="container mt-5" id="row_edit_data_container" data-row_id="{{ row_id }}">
    <div class="form-group">
      <label for="inputRowName">Name</label>
      <input type="text" class="form-control fs-3 fw-bold font-monospace" id="inputRowName" placeholder="Input row name" autocomplete="off">
    </div>

      <div class="container-fluid mt-5">
          <div class="row">
            <style>
            </style>
              <div class="col-2 class_edited_tile" id="div_edited_tile_1"  data-index="1"></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_2"  data-index="2" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_3"  data-index="3" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_4"  data-index="4" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_5"  data-index="5" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_6"  data-index="6" ></div>
            </div>
            <div class="row">
              <div class="col-2 class_edited_tile" id="div_edited_tile_7"  data-index="7" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_8"  data-index="8" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_9"  data-index="9" ></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_10" data-index="10"></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_11" data-index="11"></div>
              <div class="col-2 class_edited_tile" id="div_edited_tile_12" data-index="12"></div>
          </div>
      </div>


 
      <div class="container">
          <div class="row">
                <div class="col-6">
                    <button class="btn col-11 btn-primary mb-2 button_save" onclick="CloseToplevelDynamicForm();" id="id_save_row">Save</button>
                </div>
                <div class="col-6">
                    <button class="btn col-11 btn-secondary mb-2 button_save" onclick="CloseToplevelDynamicForm();" id="id_cancel_row">Cancel</button>
                </div>
          </div>
      </div>




  </div>


</body>
</html>
