{% load static %}

<!--<body background="/static/images/background_bb.jpg" id = {{ body_id }}>-->
    <body background="/static/images/background.gif" id = {{ body_id }}>
	<div id="messages_anchor"></div>

<!-- Занавеска -->
<div id="overlay">
    <p style="transform: scale(3);"> <IMG src="{% static 'images/loading.gif' %}"> please wait ...</p>
</div>



<img 	src="/static/images/arrows_down.png"
		style="position:fixed; height: 40px; width: 40px; right: 25px; bottom: 20px; z-index: 1;"
		id="message_log_toggle_button"
		data-state="up"
		onclick="ToggleMessageLogUpDown();">

<img 	src="/static/images/fullscreen.png"
		style="position:fixed; height: 40px; width: 40px; right: 25px; bottom: 60px; z-index: 1;"
		id="message_log_toggle_fullscreen_button"
		data-state="normal"
		onclick="ToggleMessageLogFullscreen();">



<div  	id="messageLog"
		data-firstinit="true"
    >
    <div id="messageLogContent"  class="col">
      <!-- Message log content will be inserted here dynamically -->
    </div>
  </div>

<!-- <div id="messageLog"
	data-state="up"
	style="background-image: url('/static/images/empty_black.png'); background-repeat: repeat;"
	data-firstinit="true">
</div> -->


                                                                     