{% load static %}

<!--<body background="/static/images/background_bb.jpg" id = {{ body_id }}>-->
    <body background="/static/images/background.gif" id = {{ body_id }}>
    

<!-- Занавеска -->
<div id="overlay">
	
    <p> <IMG src="{% static 'images/loading.gif' %}"> please wait ...</p>
</div>




<nav  id="messageLog"
      class="navbar sticky-bottom bg-body-tertiary"
      role="navigation"
      style=" background-image: url('/static/images/background.gif');
              position: fixed;
              bottom: 0;
              width: 100%;
              max-height: 100px;
              overflow-y: auto;
              z-index: 1;">
    <div id="messageLogContent"  class="col">
      <!-- Message log content will be inserted here dynamically -->
    </div>
</nav>

<div id="messageLogHeader"
      style=" 
      position: fixed;
      bottom: 10;
      right: 30;
      z-index: 2;
      ">
  <button id="toggleButton"><img id="toggleButtonImage" src="/static/images/arrow_down.png" height="40"></button>
</div>



