{% load static %}

<!--<body background="/static/images/background_bb.jpg" id = {{ body_id }}>-->
    <body background="/static/images/background.gif" id = {{ body_id }}>
    

<!-- Занавеска -->
<div id="overlay">
	
    <p> <IMG src="{% static 'images/loading.gif' %}"> please wait ...</p>
</div>



<div id="messageLog">
    <div id="messageLogHeader">
      <button id="toggleButton"><img id="toggleButtonImage" src="/static/images/arrow_up.png" height="40"></button>
    </div>
    <div id="messageLogContent">
      <!-- Message log content will be inserted here dynamically -->
    </div>
  </div>