<!doctype html>

<head>
    {% if is_mobile %}
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=no">
    {% else %}
    {% endif %}

    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <title>Memorier</title>
</head>

<script type="text/javascript">
    var UserName = `{{ user.get_username }}`
    var UserUUID = `{{ userUUID }}`
    var APIServer = `{{ APIServer }}`
</script>


<script type="text/javascript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/static/js/jQuery/jquery-3.7.1.js"></script>


<script src="/static/js/event_binds.js" defer>
    // will be used in voca.js
</script>

<script src="/static/js/voca.js" defer></script>