<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
    
  <title>HTML5 Drag and Drop загрузка файлов</title>  
  <link rel="stylesheet" href="{% static 'css/dragTest.css' %}">
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{% static 'js/dragTest.js' %}"></script>
</head>

<body>
  {% block content %} 
    <form action="/dragTest/upload/">{% csrf_token %}
      <div id="dropZone">
        Для загрузки, перетащите файл сюда.
      </div>
    </form>
    {% endblock content %}  
</body>
</html>