<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <title>Memorier</title>
</head>


{% include "subpattern_onload.html" %} 



<script src="/static/js/voca.js"></script>


<body background="/static/images/background_bb.jpg" data-apiserver="{{ global_api_server_adress }}">


    <table   width = "100%" style="font-size:100%;">
        <tr>
            <td style="border: 0px;" width="19%" align="center"><p align="left"  style="color:rgb(50,125,50);">Количество слов на изучении: <span style="font-weight: bold; color:lime;" data-simplecommand="get_user_count_of_words_inprocess"></span></p></td>
            <td style="border: 0px;" width="19%" align="center"><p align="left"  style="color:rgb(50,125,50);">Сегодня проработано слов: <span style="font-weight: bold; color:lime;" data-simplecommand="get_user_count_of_words_proceed_today"></span></p></td>
            <td style="border: 0px;" width="19%" align="center"><p align="right" style="color:rgb(50,125,50);">Изучено слов: <span style="font-weight: bold; color:lime;"  data-simplecommand="get_user_count_of_words_ready"></span></p></td>
            <td style="border: 0px;" width="19%" align="center"><a href="./personal_page/"><p data-simplecommand="get_user_information" id="class_above_panel_user_view" align="right" style="font-weight: bold; color:rgb(76, 96, 209);"></p></a></td>
        </tr>
    </table>



    <hr>
            <table  align="right">
                <tr>
                    <td style="border: 0px;" width="10%" align="center"><a href = '/media_list/user_root_/'><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Медиа" src="/static/images/images.png"></a></td>
                    <td style="border: 0px;" width="10%" align="center"><a href = '/add_new_word/ /'><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Добавить слово" src="/static/images/add.png"></a></td>
                    <td style="border: 0px;" width="10%" align="center"><a href = '/ready_list/'><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Выученные слова" src="/static/images/ready.png"></a></td>
                    <td style="border: 0px;" width="10%" align="center"><a href="/word_in_progress/" style="margin:0px 0px 0px 0px"><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Учить слова" src="/static/images/education.png"></a></td>
                    <td style="border: 0px;" width="10%" align="center"><a href="/phrases/" style="margin:0px 0px 0px 0px"><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Списк фраз"  src="/static/images/phrases.png"></a></td>
                    <td style="border: 0px;" width="10%" align="center"><a href="/books/"   style="margin:0px 0px 0px 0px"><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Список книг" src="/static/images/books.png">  </a></td>
                    <td style="border: 0px;" width="10%" align="center"><a style="margin:0px 0px 0px 0px"><IMG class ="image_little_button" style="display: inline-block;box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);text-shadow: 1px 1px 2px black, 0 0 1em black; border-radius: 12px;" WIDTH="64" HEIGHT="64"  title = "Поиск слов" src="/static/images/finding.png" onclick="Find_Word();"></a></td>
                </tr>
            </table>
    <hr>

    <script type="text/javascript">

    </script>

<!---------------------------------------------------------------------------------------------------------------------------------------------->
<div class="pagination_auto"></div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->

 <hr>


    <table id='index_table_of_syllables' class="my_class_table_of_words" width = "100%" data-ready="{{ ready }}">
    </table>

    
    <hr>

<!---------------------------------------------------------------------------------------------------------------------------------------------->
<div class="pagination_auto"></div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->



<div class="center_parent" id="search_result" hidden >
    <div class="center_block" style="background-image:url('./static/images/background.gif'); box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);">
        <input autofocus autocomplete="off" type="text" class="my_class_input_word" style="width:90%; margin: 2px; padding: 2px 2px;" id="text_for_finding" value = "" oninput="get_finding(this.value)">
        <a style="float:right; margin: 15px 15px 0px 0px"><img IMG  class ="image_little_button" WIDTH="64" HEIGHT="64"   title = "Закрыть" src="/static/images/exit.png" onclick="Close_Findind();"></a>
        <table id ='span_search_result'>
        </table>
    </div>
</div>



<!---------------------------------------------------------------------------------------------------------------------------------------------->


</body>
</html>


