

{% load static %}

{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 

<div class="container">
  <div class="row justify-content-center border border-success color_block_blue_green">
    <span class="outline-text">English</span>
    <div class="col-md-12 col-12 mt-5">
      <div class="row">
        <div class="col-4 mb-3"><a href= "/books/" ><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Список книг" src="/static/images/books.png">  </a></div>
        <div class="col-4 ml-3"><a href = '/proceed_list/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Слова в процессе обучения" src="/static/images/list.png"></a></div>
        <div class="col-4 mb-3"><a href= "/phrases/" ><IMG class="img_with_backlight_on_hover"  WIDTH="160" HEIGHT="160"  title = "Списк фраз"  src="/static/images/phrases.png"></a></div>
      </div>
      <div class="row mt-5">
        <div class="col-4 ml-3"><a href = '/read_last_opened_book/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Вернуться к чтению" src="/static/images/opened_book.png"></a></div>
        <div class="col-4 ml-3"><a href = '/word_in_progress/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Учить слова" src="/static/images/education.png"></a></div>
        <div class="col-4 mb-3"><a href = "/phrases/in_progress/" ><IMG class="img_with_backlight_on_hover"  WIDTH="160" HEIGHT="160"  title = "Прорабатывать фразы"  src="/static/images/phrases_academic_hood.png"></a></div>
      </div>
      <div class="row mt-5">
        <div class="col-4 ml-3"></div>
        <div class="col-4 ml-3"><a style="margin:0px 0px 0px 0px"><IMG class="img_with_backlight_on_hover"  WIDTH="160" HEIGHT="160"  title = "Поиск слов" src="/static/images/finding.png" onclick="Find_Word();"></a></div>
      </div>
      <div class="row mt-5">
        <div class="col-4 ml-3"></div>
        <div class="col-4 ml-3"><a href = '/add_new_word/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Добавить слово" src="/static/images/add.png"></a></div>
        <div class="col-4 ml-3"><a href = '/phrases/add_new/0/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Добавить фразу" src="/static/images/add_to_list.png"></a></div>
      </div>

    </div>
  </div>
</div>


  <div class="container mt-5">
    <div class="row justify-content-center border border-success color_block_blue_green">
      <span class="outline-text">Media storage</span>
      <div class="col-md-8 col-12 mt-5">
        <div class="row">
          <div class="col-4 mb-3"><a href = '/media_list/user_root_/'><IMG class="img_with_backlight_on_hover" WIDTH="160" HEIGHT="160"  title = "Медиа" src="/static/images/images.png"></a></div>
          <div class="col-4 mb-3"></div>
          <div class="col-4 mb-3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center border border-success color_block_blue_green">
      <span class="outline-text">Start page tools</span>
      <div class="col-md-8 col-12 mt-5">
        <div class="row">
          <div class="col-2 ml-9"><a href = '/hp_edit_pages/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование страниц" src="/static/images/pages.png"></a></div>
          <div class="col-2 ml-9"><a href = '/hp_edit_planks/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование групп строк" src="/static/images/rows.png"></a></div>
          <div class="col-2 ml-9"><a href = '/hp_edit_rows/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование строк" src="/static/images/row.png"></a></div>
          <div class="col-2 ml-9"><a href = '/hp_edit_links/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование ссылок" src="/static/images/image_tile.png"></a></div>
          <!-- <div class="col-2 ml-9"><a href = '/edit_tile/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование плиток" src="/static/images/tile.png"></a></div> -->
          <!-- <div class="col-2 ml-9"><a  onclick="RunInScreenForm({form_name:`select_tile`, execute_after_load:``, request_link:`/edit_tile/`, execute_on_ok:''});"><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Редактирование плиток" src="/static/images/tile.png"></a></div> -->
          <div class="col-2 ml-9"><a  onclick="RunInScreenForm({  form_name:`select_tile`,
                                                                  execute_after_load:`OnLoadTileSelect();ResizeModalForms();`,
                                                                  request_link:`/select_tile/`,
                                                                  execute_on_ok:''});"><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Плитки" src="/static/images/tile.png"></a></div>
          <!--<div class="col-2 ml-9"><a href = '/select_tile/'><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Выбор иконки плитки" src="/static/images/tiles.png"></a></div>-->
          <div class="col-2 ml-9"><a onclick="RunInScreenForm({ form_name:`select_icon`,
                                                                execute_after_load:`OnLoadIconSelect();ResizeModalForms();`,
                                                                request_link:`/select_icon/`});"><IMG class="img_with_backlight_on_hover" WIDTH="120" HEIGHT="120"  title = "Иконки плиток" src="/static/images/tiles.png"></a></div>
        </div>
      </div>
    </div>
  </div>


<div class="center_parent container" id="search_result" hidden >
  
    <div class="center_block border border-info rounded" style="background-image:url('./static/images/background.gif'); box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5); overflow-y: auto;">
      <div class="container-fluid">
          <div class="row mt-5">
            <div class="col-11">
              <input autofocus autocomplete="off" type="text" class="my_class_input_word" id="text_for_finding" value = "" oninput="get_finding(this.value)">
            </div>
            <div class="col-1">
              <a ><img class="img_with_backlight_on_hover" WIDTH="64" HEIGHT="64"   title = "Закрыть" src="/static/images/exit.png" onclick="Close_Findind();"></a>
            </div>
      </div>

      <div class="container-fluid">
          <div class="col" id ='span_search_result'>
          </div>
      </div>

    </div>
  
  </div>
</div>



<!---------------------------------------------------------------------------------------------------------------------------------------------->

</body>
</html>


