{% load static %}
{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 


<div id="body_phrase_edit" data-phraseid="{{ phrase_id }}">
</div>

    <form method="POST" target="_self">{% csrf_token %}

    <table width = '100%' style="border: 0px;">
        <tr><th><label for="phrase_text">Phrase:</label></th><td class = 'td_input_new_word'><textarea autocomplete="off" autofocus type="text" name="phrase_text" cols="40" rows="10" class="my_class_input_examples" id="phrase_text" ></textarea></td></th></tr>
        <tr><th><label for="phrase_translation">Comment:</label></th><td class = 'td_input_new_word'><textarea autocomplete="off" name="phrase_translation" cols="40" rows="10" class="my_class_input_examples" id="phrase_translation"></textarea></td></th></tr>
    </table>
        <p align = "center"><input type="button" value="Сохранить" class="button_save" onclick="SavePhrase('/phrases/');"></p>
    </form>

    <hr>
</body>

<script defer lang="javascript">
    let navbar = document.querySelector(`#navigation_subbar_optional`);
</script>

</html>







