{% load static %}
{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 





<!--<body background="{% static 'images/background_bb.jpg' %}" id="body_phrase_in_progress" data-phraseid="{{ phrase_id }}">-->




    <div id = 'body_phrase_in_progress' data-phraseid="{{ phrase_id }}">
    </div>




   <p class = 'my_class_p_my_class_p_examples' id="id_class_p_my_class_p_examples"></p>
    <p class = 'my_class_p_my_class_p_examples_russian' id ="id_class_p_my_class_p_examples_russian"></p>

    <button class = 'button_add' onclick='NextPhrase();LoadSimpleData();'>NEXT</button>

    <br>

</body>



<script defer lang="javascript">
    let navbar = document.querySelector(`#navigation_subbar_optional`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a id = "edit_phrase_link_id" onclick="document.location.href = '`+'/phrases/add_new/'+document.querySelector(`#body_phrase_in_progress`).dataset.phraseid+'/'+`';"><IMG class="img_with_backlight_on_hover" WIDTH="64" HEIGHT="64"  title = "Редактировать фразу" src="{% static 'images/redo.png' %}"></a></div>`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a id = "set_phras_status_link_id" onclick="SetPhraseStatus(document.querySelector('#body_phrase_in_progress').dataset.phraseid, 1); NextPhrase();"><IMG class="img_with_backlight_on_hover" WIDTH="64" HEIGHT="64"  title = "Пометить фразу как выученную" src="{% static 'images/ready.png' %}"></a></div>`);
</script>
</html>



