<!DOCTYPE html>

{% load static %}
{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 



    <div id = 'index_table_of_phrases' data-ready="{{ readystatus }}">

    </div>

</body>

<script defer lang="javascript">
    let navbar = document.querySelector(`#navigation_subbar_optional`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a href = "/phrases/add_new/0/""><IMG WIDTH="64" HEIGHT="64"  title = "Добавить фразу" src="{% static 'images/add.png' %}"></a></div>`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a href = "/phrases/ready_list/""><IMG WIDTH="64" HEIGHT="64"  title = "Выученные фразы" src="{% static 'images/ready.png' %}"></a></div>`);
    navbar.insertAdjacentHTML(`beforeend`,`<div class ='col-2 ml-4'><a href = "/phrases/in_progress/"><IMG WIDTH="64" HEIGHT="64"  title = "Учить фразы" src="{% static 'images/education.png' %}"></a></div>`);

</script>

</html>







