{% load static %}
{% include "_head.html" %} 

<html>

{% include "subpattern_onload.html" %} 



{% include "_body_begin.html" %} 

{% include "_navigation_panel.html" %} 



<!---------------------------------------------------------------------------------------------------------------------------------------------->
<div class="pagination_auto"></div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->

 <hr>


    <div class="col-12" id='index_table_of_syllables'data-ready="{{ ready }}">

    </div>

    
    <hr>

<!---------------------------------------------------------------------------------------------------------------------------------------------->
<div class="pagination_auto"></div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->

</body>

<script defer lang="javascript">
    let navbar = document.querySelector(`#navigation_subbar_optional`);
</script>

</html>